@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Nunito&family=Poppins:wght@200;400;600&family=Press+Start+2P&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
